
body {
    margin-top: 30px;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    width: 450px;
    display: flex;
    margin: 0 auto;
    padding: 20px;
    justify-content: space-around;
    text-align: start;
    background-color: #D4E09B;
    color: #3D4F5C;
    /* border: 4px solid #F19C79; */
    /* border-bottom: 10px solid #FF331F;
    border-right: 10px solid #3626A7; */
    border-bottom: 30px solid #F6F4D2;;
    border-radius: 10px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #F19C79;
    /* background-image: url("Simple_Avatar_Swagam.png"); */
} 

.avatar:hover {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 8px solid #3D4F5C;
    /* background-image: url("Swagam_Professional_bnw.jpg"); */
}


.border-blue {
    border: 1px dotted blue;
}